:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;
  --font-principal: "Inter", sans-serif;
  --botao-azul-hover: #4dbbf1;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--font-principal);
  font-weight: 400;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.principal {
  background-image: url("/img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container__caixa {
  margin: 0 6rem;
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1rem;
  display: block;
  margin-bottom: 1rem;
}

.container__botao:hover {
  background-color: var(--botao-azul-hover);
  color: var(--cor-de-fundo);
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__aviso {
  font-size: 0.75rem;
  color: var(--cinza-secundario);
}

.container__imagem {
  width: 50%;
  margin: 1em 0 2em 0;
}

.secundario__imagem {
  width: 100%;
}

.secundario {
  align-items: center;
  margin: 0 10rem;
}

.descricao__titulo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--branco-principal);
  margin-bottom: 0.5rem;
}

.descricao__texto {
  color: var(--cinza-secundario);
}

.secundario__botao {
  display: inline-block;
  margin-top: 1rem;
}

.container__descricao {
  padding: 2rem;
}

.dispositivos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem 0;
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--branco-principal);
}

.lista__item {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--branco-principal);
}

.rodape {
  text-align: center;
  margin: 9rem 0 6.25rem 0;
  padding: 0 7.5rem;
}

.rodape__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rodape__logo {
  margin-bottom: 2.5rem;
}

.rodape__lista {
  margin-bottom: 1.5rem;
  line-height: 150%;
}

.lista__link {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.rodape__texto {
  font-size: 0.875rem;
  color: var(--cinza-secundario);
  margin-bottom: 1rem;
  line-height: 150%;
}

.lista__link a:hover {
  color: var(--botao-azul);
}

.lista__link a:active {
  color: #ff0000;
}
